# SPDX-FileCopyrightText: TNG Technology Consulting GmbH <https://www.tngtech.com>
#
# SPDX-License-Identifier: Apache-2.0

[submodule "oss-review-toolkit"]
	path = oss-review-toolkit
	url = https://github.com/oss-review-toolkit/ort
	branch = main
[submodule "opossum.lib.hs"]
	path = opossum.lib.hs
	url = git@github.com:opossum-tool/opossum.lib.hs
	branch = main
